__pycache__/
*.pyc
*.pyo
.env
venv/
.venv/
env/

.DS_Store
Thumbs.db

data/raw/
data/processed/*.db
data/processed/*.sqlite3

frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.eslintcache

src/.env

.env